<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Document</title>
</head>
<body>
    <script>
        const ws = new WebSocket('ws://localhost:8000/ws/echo/');

        ws.onopen = () => {
            console.log('connected');
        };

        ws.onmessage = (e) => {
            const message = e.data;
            const obj = JSON.parse(message);
            console.log(`Message from server: ${message}`);
            console.log(obj)
        };

        ws.onclose = (e) => {
            if (e.wasClean) {
                console.log(`Connection closed cleanly, code=${e.code} reason=${e.reason}`);
            } else {
                console.log('Connection died');
            }
        };

        ws.onerror = (e) => {
            console.log(e);
        };

    </script>
</body>
</html>